
footer {
  width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
  }
  
  .footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 AUTO;
    max-width: 1000px;
  }
  
  .t1 {
    color: white;
  }
  .t2 {
    color: white;
  }
  .t3 {
    color: white;
  }
  .t4 {
    color: white;
  }
  .t5 {
    color: white;
  }
  .t6 {
    color: white;
  }
  .t7 {
    color: white;
  }
  .t8 {
    color: white;
  }
  .t9 {
    color: white;
  }
  .t10 {
    color: white;
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    padding: 5px 10px;
  }
  
  a{
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  .footer-container > div{
    padding: 10px;
    /* flex: 1; */
  }
  
  .footer-copy{
    text-align: center;
  }

  .footer-container > div {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
