@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
.body1 {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
}
.login_container {
    background-color: #000000;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(135, 123, 123, 0.1);
    text-align: center;
    opacity: blur(10px);
}

.name {
    color: #ffffff;
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
}
.login{
    color:  #ffffff;
    margin-bottom: 1.5rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputtxt {
    font-family: "Comfortaa", sans-serif;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
}

.inputtxt::placeholder {
    color: #898484;
;
}

.submit1 {
    background-color: #4fb4ee;
    color: #ffffff;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;}

.submit1:hover {
    background-color: #2d93b5;
}

.signup_link {
    margin-top: 1rem;
    color: #ffffff;
}

.link1 {
    color: #6dc6f0;
    text-decoration: none;
}

.link1:hover {
    text-decoration: underline;
}
