:root {
    --black: black;
    --white: white;
    --gray: #272727;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    box-sizing: border-box;
}

.a {
    text-decoration: none;
    color: var(--white);
}

.flex {
    display: flex;
}

.logo {
    gap: 5px;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.cross {
    /* position: absolute; */
    padding: 2px 5px;
    max-width: 40px;
}

.cross:hover {
    cursor: pointer;
    background: var(--gray);
    border-radius: 10px;
}

.up {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 1rem;
    width: 100%;
}

.navbar {
    padding: 20px;
    color: var(--white);
    width: 13vw;
    height: 100vh;
    background: var(--black);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    border-radius: 0;
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
}

.search-box {
    border-radius: 10px;
    background: var(--white);
    width: 85%;
    height: 40px;
    padding: 5px;
    color: var(--black);
    border: none;
    margin-right: 10px;
}

.search {
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
}

.search-icon {
    border-radius: 10px;
    cursor: pointer;
}

.search-icon:hover {
    background: var(--gray);
}

.text {
    padding: 10px;
}

.up_squezed {
    /* display: flex; */
    /* align-items: flex-start; */
    flex-direction: column-reverse;
    transition: all 0.2s ease-in-out;
}

.hide {
    transition: all 0.2s ease-in-out;
    display: none;
}

.text_icon {
    display: flex;
    gap: 3rem;
}

.logos_heading {
    width: 1.5vw;
    height: 3vh;
}

.middle {
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Courier New', Courier, monospace;
}

.company_logo {
    margin-left: 4px;
}

.one {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.login_logout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.login_logout_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff7d;
    background-color: var(--black);
    padding: 0.6rem 0.6rem;
    gap: 2rem;
    color: var(--white);
    width: 100%;
    flex-direction: row-reverse;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}

.login_logout_btns:hover {
    color: black;
    background-color: white;
}

.login_logout_btns img {
    width: 1.5vw;
    height: 3vh;
}

.center_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 13vw;
    margin: 0;
    height: 100vh;
}

@media screen and (max-width: 1400px) {
    .navbar {
        width: max-content;
    }
}
