
:root {
    --black: black;
    --white: white;
    --gray: #272727;
}


.bdy {
    display: flex;
}

.a {
    text-decoration: none;
    color: var(--white);
}

.logo {
    gap: 5px;
    align-items: center;
    display: flex;
    cursor: pointer;;
}

/* .cross {
    padding: 2px 5px;
    background-color: white;
    border-radius:10px ;
    margin-top: 30px;
    margin-bottom: 30px;
 
} */

.cross:hover {
    cursor: pointer;
    background: var(--gray);
    border-radius: 10px;
}

.up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.search-box {
    border-radius: 10px;
    background: var(--white);
    width: 85%;
    height: 40px;
    padding: 5px;
    color: var(--black);
    border: none;
    margin-right: 10px;
}

.search {
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
}

.search-icon {
    background-color: white;
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
}

.search-icon:hover {
    background: var(--gray);
}

.text {
    padding: 10px;
    color: var(--white);
}

.text a {
    text-decoration: none;
    color: var(--white);
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* width: 100%; */
    background-color: white;
    color: black;
    width: 85vw;
}

.user-profile {
    margin-top: 20px;
    border: 2px solid var(--gray);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-start;
    gap: 1rem;
}

.input_fields{
    display: flex;
    /* flex-direction: column; */
    /* margin-bottom: 20px; */
    align-items: baseline;
    justify-content: center;
}

.user_profile_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* margin-right: 20px; */
    /* margin-bottom: 20px;; */
    border:2px solid black;
    background-color: black;
}
.profile-info{
    border: 2px solid var(--gray);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.profile-info p {
    margin: 10px 0;
}

.profile-actions {
    margin-top: 20px;
    display: flex;
    gap: 1rem;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-profile {
    background-color: var(--black);
    color: var(--white);
    margin-right: 10px;;
}
.edit-profile:hover{
    background-color: var(--gray);
}
.change-password:hover{
    background-color: var(--gray);
}

.change-password {
    background-color: var(--black);
    color: var(--white);
}