@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root{
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #333;
    --border-radius: 4px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.body1 {
    font-family: 'Comfortaa', Arial, sans-serif;
    background-color: #f0f0f0; /* Light background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff; /* Light background for container */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow to make the container stand out */
    text-align: center;
    opacity: 1;
}

.login-title {
    color: #000000;
    margin-bottom: 1.5rem;
    text-align: center;
}

.login-subtitle {
    color: #000000;
    margin-bottom: 1.5rem;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input {
    font-family: 'Comfortaa', sans-serif;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
}

.login-input::placeholder {
    color: #898484;
}

.login-submit {
    background-color: #4fb4ee;
    color: #ffffff;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
}

.login-submit:hover {
    background-color: #2d93b5;
}

.login-text {
    margin-top: 1rem;
    color: #ffffff;
}

.login-link {
    color: #6dc6f0;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

.showPassword{
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
}
