@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.body1 {
    font-family: 'Comfortaa', Arial, sans-serif;
    background-color: #f0f0f0; /* Light background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_container {
    background-color: #ffffff; /* Light background for container */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow to make the container stand out */
    text-align: center;
    opacity: 1;
}

.name, .login {
    color: #000000; /* Dark text color */
}

.inputtxt {
    background-color: #f0f0f0; /* Light input background */
    color: #000000; /* Dark input text color */
}

.submit1 {
    background-color: #4fb4ee; /* Button background remains the same */
    color: #ffffff;
}

.submit1 {
    background-color: #4fb4ee;
    color: #ffffff;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;}

.submit1:hover {
    background-color: #2d93b5;
}


.signup_link {
    color: #000000; /* Darker text for links */
}

.link1 {
    color: #4fb4ee; /* Light blue for the link */
}

.inputtxt {
    font-family: "Comfortaa", sans-serif;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 2px solid;
    border-radius: 8px;
    background-color: #c4c4c4;
    color: #000000;
}

#showPassword {
    margin: 10px 0;
    cursor: pointer;
}
