input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;

    /* Now your own custom styles */
    height: 24px;
    width: 24px;
    margin-left: .4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
}
/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}

.upload{
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.303);
    border-radius: 5px;
}

.upload-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0078d4;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .upload-button:hover {
    background-color: #005a9e;
  }

