:root{
    --black:black;
    --white:white;
    --gray:#272727;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.a{
    text-decoration: none;
    color: var(--white);

}
.flex{
    display: flex;
}
.logo{
    gap: 5px;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.cross{

    padding: 2px 5px;
}
.cross:hover{
    cursor: pointer;
    background: var(--gray);
    border-radius: 10px;
}
.up{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    padding: 20px;
    color: var(--white);
    width: 30vw;
    height: 100vh;
    background: var(--black);
}
.search-box{
    border-radius: 10px;
    background: var(--white);
    width: 85%;
    height: 40px;
    padding: 5px;
    color:var(--black);
    border: none;
    margin-right: 10px;
}
.search{
    margin-top:30px ;
    margin-bottom:30px ;
    align-items:center;
    display: flex;
}
.search-icon{
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;

}
.search-icon:hover{
    background: var(--gray);

}
.text{
    padding: 10px;
}