body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* box-sizing: border-box; */
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1000px;
}

.t1 {
  color: red;
}
.t2 {
  color: blue;
}
.t3 {
  color: green;
}
.t4 {
  color: orange;
}
.t5 {
  color: purple;
}
.t6 {
  color: brown;
}
.t7 {
  color: pink;
}
.t8 {
  color: teal;
}
.t9 {
  color: navy;
}
.t10 {
  color: magenta;
}


table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 5px 10px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.footer-container > div{
  padding: 10px;
  /* flex: 1; */
}

.footer-copy{
  text-align: center;
}